.footer {
  width: 100%;
  height: auto;
  background: rgb(214, 22, 16);
  border-top: 3px solid rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-items: center;
  color: #fff;
}

.footer p {
  font-size: 0.9em;
}

.footer strong {
  margin-top: 20px;
  font-size: 1.1em;
}

.footer span {
  font-weight: 300;
}

.social {
  margin-top: 15px;
}
.social a {
  color: #fff;
}
